---
import type { arrayOutputType } from 'astro/zod';
import arrow from '../images/arrow.svg';
import '../styles/card.css';

export interface Props {
  title: string;
  excerpt: string;
  featuredImg: string;
  slug: string;
  tags: Array<string>;
}
const { title, excerpt, featuredImg, slug, tags } = Astro.props as Props;
---

<div class='card'>
  <img src=`/projectImages/${featuredImg}` alt='' />
  <div class='card__text'>
    <h5>featured project</h5>
    <h4>{title}</h4>
    <div class='card__text__excerpt'>
      <p>{excerpt}</p>
    </div>
    <div class='tags'>
      {tags.map((tag) => <span>{tag}</span>)}
    </div>
    <div class='button'>
      <a href=`/${slug}`
        >view project <img
          src={arrow.src}
          alt='decorative arrow'
          loading='lazy'
        /></a
      >
    </div>
  </div>
</div>
