---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Card from './Card.astro';
// const projects = await Astro.glob('../content/projects/*.md');
const projects: CollectionEntry<'projects'>[] = (
  await getCollection('projects')
).sort(
  (a: CollectionEntry<'projects'>, b: CollectionEntry<'projects'>) =>
    a.data.priority - b.data.priority
);
---

<section
  class='featured-work'
  id='work'
  data-aos='fade-up'
  data-aos-offset='0'
  data-aos-delay='50'
  data-aos-duration='100'
  data-aos-easing='ease-in-out'
  data-aos-mirror='true'
  data-aos-once='false'
  data-aos-anchor-placement='top-center'
>
  <div class='container'>
    {
      projects.map((project) => (
        <Card
          title={project.data.title}
          excerpt={project.data.excerpt}
          featuredImg={project.data.featuredImg}
          tags={project.data.tags}
          slug={project.slug}
        />
      ))
    }
  </div>
</section>

<style>
  .featured-work {
    margin-top: 250px;
  }
</style>
